# DS-SF-34 | 02 | The `pandas` Library | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A - Introduction to `pandas`

In [6]:
import numpy as np
import pandas as pd
import re

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [7]:
df = pd.read_csv("../datasets/dataset-02-zillow-starter.csv")

> ## `DataFrame`

Let's check `df`'s type:

In [8]:
# TODO
type(df)

pandas.core.frame.DataFrame

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [9]:
df

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
5,15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
6,15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
7,15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
8,15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
9,15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
10,15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
11,15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
12,15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
13,15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
14,15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15,15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
16,15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
17,15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
18,15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
19,15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
20,15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
21,15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
22,15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
23,15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
24,15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
25,15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
26,15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
27,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
28,15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
29,15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
971,2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
972,2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
973,2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
974,2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
975,2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
976,2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
977,2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
978,2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
979,2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
980,2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
981,2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
982,2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
983,2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
984,2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
985,2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
986,2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
987,2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
989,2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
990,2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
991,2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
992,2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
993,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [10]:
df.head()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [6]:
# TODO
df.tail()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.0,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.0,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.0,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.0,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.0,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [7]:
df.shape

(1000, 15)

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [8]:
df.shape[0]

1000

In [9]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [10]:
len(df)

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [11]:
df.dtypes

ID                 int64
Address           object
Latitude           int64
Longitude          int64
DateOfSale        object
SalePrice        float64
SalePriceUnit     object
IsAStudio         object
Beds             float64
Baths            float64
Size             float64
SizeUnit          object
LotSize          float64
LotSizeUnit       object
BuiltInYear      float64
dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [14]:
df.head().isnull()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [24]:
null_mask = df.isnull()

null_mask.sum().sum()

ID                 int64
Address           object
Latitude           int64
Longitude          int64
DateOfSale        object
SalePrice        float64
SalePriceUnit     object
IsAStudio         object
Beds             float64
Baths            float64
Size             float64
SizeUnit          object
LotSize          float64
LotSizeUnit       object
BuiltInYear      float64
dtype: object


Summing again will return the number of cells in the `DataFrame` with missing values.

In [ ]:
# TODO

Equivalently, we can also use the `.isnull()` function:

In [25]:
pd.isnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
11,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
12,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
13,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
16,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
17,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
18,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
22,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
24,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
28,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
29,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
971,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
972,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
973,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
974,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
975,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
976,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
977,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
978,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
979,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
980,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
982,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
983,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
984,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
985,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False
986,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
987,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
988,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
990,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
991,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
992,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
993,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
994,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
995,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

We also also use `.notnull()`, its complement method:

In [26]:
df.notnull()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,True,True,True,True,False,True,True,False,False,True
1,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
5,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
6,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
10,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
11,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
12,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
13,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
15,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
16,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
17,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
18,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
21,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
22,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
24,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
26,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
27,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
28,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
29,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
971,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
972,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
973,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
974,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
975,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
976,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
977,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
978,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
979,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
980,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
981,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
982,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
983,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
984,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
985,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True
986,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
987,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False
988,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
989,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
990,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
991,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
992,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
993,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
994,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
995,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
996,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
999,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True

In [27]:
pd.notnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,True,True,True,True,False,True,True,False,False,True
1,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
5,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
6,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
10,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
11,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
12,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
13,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
15,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
16,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
17,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
18,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
21,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
22,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
24,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
26,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
27,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
28,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
29,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
971,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
972,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
973,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
974,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
975,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
976,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
977,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
978,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
979,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
980,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
981,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
982,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
983,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
984,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
985,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True
986,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
987,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False
988,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
989,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
990,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
991,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
992,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
993,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
994,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
995,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
996,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
999,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [28]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [29]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [30]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [32]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
columns_upper = []

for column in df.columns:
    columns_upper.append(column.upper())
    
columns_upper

#OR JUST DO 

df.columns = columns_upper

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location-based lookup of the columns.

> E.g., columns #5 and #6:

In [54]:
# TODO

#outer bracket is we want the function, the inner is the list
df[['LATITUDE','LONGITUDE']]

     LATITUDE  LONGITUDE
0    37805103 -122412856
1    37804420 -122417389
2    37803728 -122419055
3    37804392 -122406590
4    37804240 -122405509
5    37804240 -122405509
6    37803748 -122408531
7    37802408 -122417537
8    37801889 -122418704
9    37801873 -122418834
10   37803470 -122404090
11   37802299 -122404941
12   37801802 -122404269
13   37800260 -122406123
14   37799474 -122414835
15   37798792 -122416797
16   37798792 -122416797
17   37798645 -122417500
18   37798234 -122417394
19   37797920 -122415745
20   37798451 -122415218
21   37798796 -122404766
22   37797445 -122416366
23   37795805 -122416840
24   37795662 -122410789
25   37794715 -122407810
26   37794715 -122407810
27   37793575 -122413670
28   37793071 -122414049
29   37793071 -122414049
..        ...        ...
970  37788242 -122430988
971  37736625 -122427008
972  37763202 -122396270
973  37746898 -122409301
974  37761579 -122436123
975  37750270 -122408600
976  37747330 -122415110
977  37779494 -122456412
978  37765266 -122407150
979  37798930 -122421388
980  37752803 -122438919
981  37776218 -122424930
982  37760994 -122489700
983  37788280 -122392100
984  37754504 -122422736
985  37789371 -122436058
986  37770870 -122443840
987  37776170 -122425300
988  37738600 -122496000
989  37760100 -122422000
990  37800910 -122430229
991  37792255 -122401245
992  37786427 -122418222
993  37781429 -122401860
994  37773192 -122424037
995  37800040 -122406100
996  37787029 -122393638
997  37709136 -122465332
998  37803760 -122408531
999  37784770 -122424100

[1000 rows x 2 columns]

> Let's check that the column subsetting returns a `DataFrame`:

In [56]:
# TODO
type(df[['LATITUDE','LONGITUDE']])

pandas.core.frame.DataFrame

> Note that a `DataFrame` can be made of a single column.  E.g., column #7 only:

In [59]:
# TODO

df[['SALEPRICE', 'SALEPRICEUNIT']].head()

   SALEPRICE SALEPRICEUNIT
0  710000.00             $
1       2.15            $M
2       5.60            $M
3       1.50            $M
4  970000.00             $

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [ ]:
# TODO

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value-based lookup of the column:

In [65]:
df[['ADDRESS']].head()

                                      ADDRESS
0   55 Vandewater St APT 9, San Francisco, CA
1         740 Francisco St, San Francisco, CA
2         819 Francisco St, San Francisco, CA
3    199 Chestnut St APT 5, San Francisco, CA
4  111 Chestnut St APT 403, San Francisco, CA

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

> Let's check the result type:

In [66]:
# TODO
df.ADDRESS

0         55 Vandewater St APT 9, San Francisco, CA
1               740 Francisco St, San Francisco, CA
2               819 Francisco St, San Francisco, CA
3          199 Chestnut St APT 5, San Francisco, CA
4        111 Chestnut St APT 403, San Francisco, CA
5        111 Chestnut St APT 702, San Francisco, CA
6         1821 Grant Ave APT 101, San Francisco, CA
7            2300 Leavenworth St, San Francisco, CA
8           1047-1049 Lombard St, San Francisco, CA
9            1055 Lombard St # C, San Francisco, CA
10       101 Lombard St APT 116E, San Francisco, CA
11      1407 Montgomery St APT 2, San Francisco, CA
12      1360 Montgomery St APT 1, San Francisco, CA
13           1327-1329 Kearny St, San Francisco, CA
14        44 Macondray Ln APT 2E, San Francisco, CA
15         1070 Green St APT 201, San Francisco, CA
16        1070 Green St APT 1402, San Francisco, CA
17     1907 Leavenworth St APT 8, San Francisco, CA
18           1101 Green St # 303, San Francisco, CA
19                 1807 Jones St, San Francisco, CA
20          999 Green St APT 905, San Francisco, CA
21        455 Vallejo St APT 111, San Francisco, CA
22          1163-1165 Vallejo St, San Francisco, CA
23              1300 Pacific Ave, San Francisco, CA
24                948 Jackson St, San Francisco, CA
25        946 Stockton St APT 6B, San Francisco, CA
26        946 Stockton St APT 9E, San Francisco, CA
27          1250 Clay St APT 306, San Francisco, CA
28         1250 Jones St APT 503, San Francisco, CA
29         1250 Jones St APT 802, San Francisco, CA
                           ...
970                 2137 Pine St, San Francisco, CA
971                409 Miguel St, San Francisco, CA
972              251 Missouri St, San Francisco, CA
973              1650 Florida St, San Francisco, CA
974            41 Collingwood St, San Francisco, CA
975               2753 Bryant St, San Francisco, CA
976              244 Precita Ave, San Francisco, CA
977                  6 Rossi Ave, San Francisco, CA
978              333 Potrero Ave, San Francisco, CA
979                1340 Union St, San Francisco, CA
980              688 Douglass St, San Francisco, CA
981                414 Linden St, San Francisco, CA
982        1408 31st Ave APT 303, San Francisco, CA
983                 333 Beale St, San Francisco, CA
984               82 Alvarado St, San Francisco, CA
985           2619 Sacramento St, San Francisco, CA
986              129 Central Ave, San Francisco, CA
987                444 Linden St, San Francisco, CA
988                2595 38th Ave, San Francisco, CA
989                 3500 19th St, San Francisco, CA
990        1738 Lombard St APT 4, San Francisco, CA
991      201 Sansome St UNIT 501, San Francisco, CA
992                925 Larkin St, San Francisco, CA
993       829 Folsom St UNIT 906, San Francisco, CA
994               129 Octavia St, San Francisco, CA
995           412 Green St APT A, San Francisco, CA
996         355 1st St UNIT 1905, San Francisco, CA
997            33 Santa Cruz Ave, San Francisco, CA
998               1821 Grant Ave, San Francisco, CA
999                1200 Gough St, San Francisco, CA
Name: ADDRESS, Length: 1000, dtype: object

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [ ]:
# TODO

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [ ]:
# TODO

> To find the zero-based location of a column, use the `.get_loc()` method of the `.columns` property.  E.g.,

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_loc.html)

In [73]:
df.columns.get_loc('BEDS')
df

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

We should get the same output as subsetting a `DataFrame` on `Beds`:

In [76]:
df.head()

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [77]:
# TODO
df

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [ ]:
df = df.set_index('ID')

In [ ]:
df.index

In [78]:
df

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> E.g., row with index 15063505:

In [84]:
# TODO
df.loc[15063505, ['SALEPRICE']]

SALEPRICE    2.15
Name: 15063505, dtype: object

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [90]:
# TODO

df.loc[[15063505,15064044]]

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0

> E.g., rows #1 and #3:

In [99]:
# TODO

df.iloc[[1,3], 2:10]

,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE
ID,,,,,,,,
15063505,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0
15064044,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [30]:
# TODO

df.set_index('ID')

year_built = df['BUILTINYEAR']

year_built_mask = year_built < 1900

sale_price_mask = df['SALEPRICE'] < 10

df[year_built_mask & sale_price_mask]

,ID,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
72,15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,$M,False,6.0,7.5,7375.0,sqft,2748.0,sqft,1890.0
91,15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,$M,False,2.0,2.0,1593.0,sqft,NaN,NaN,1895.0
115,15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,12/22/15,1.85,$M,False,2.0,1.5,1408.0,sqft,NaN,NaN,1890.0
123,15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,$M,False,2.0,1.0,1515.0,sqft,NaN,NaN,1895.0
380,15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,$M,False,4.0,4.0,3500.0,sqft,4165.0,sqft,1872.0
564,15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,$M,False,3.0,2.0,2032.0,sqft,1913.0,sqft,1892.0
725,63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,12/7/15,1.10,$M,False,1.0,2.0,1267.0,sqft,NaN,NaN,1890.0
829,82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,$M,False,3.0,2.5,2300.0,sqft,NaN,NaN,1890.0
898,119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,$M,False,4.0,3.0,3006.0,sqft,NaN,NaN,1885.0
921,123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,$M,False,2.0,1.0,1275.0,sqft,NaN,NaN,1895.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0

> Let's subset on that `Series`:

In [ ]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [33]:
# TODO

df[(df['BUILTINYEAR'] < 1900) & (df['SIZE'] > 1500)]

,ID,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
72,15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,$M,False,6.0,7.5,7375.0,sqft,2748.0,sqft,1890.0
91,15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,$M,False,2.0,2.0,1593.0,sqft,NaN,NaN,1895.0
93,15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,$,False,NaN,2.0,2430.0,sqft,3781.0,sqft,1890.0
123,15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,$M,False,2.0,1.0,1515.0,sqft,NaN,NaN,1895.0
380,15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,$M,False,4.0,4.0,3500.0,sqft,4165.0,sqft,1872.0
564,15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,$M,False,3.0,2.0,2032.0,sqft,1913.0,sqft,1892.0
829,82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,$M,False,3.0,2.5,2300.0,sqft,NaN,NaN,1890.0
898,119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,$M,False,4.0,3.0,3006.0,sqft,NaN,NaN,1885.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [34]:
df = pd.read_csv("../datasets/dataset-02-zillow-starter.csv", index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

In [40]:
df_new = df.drop(['Latitude', 'Longitude'], axis = 1)

In [41]:
df_new

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [48]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

In [52]:
df_1 = df[df.SalePriceUnit == '$']
df_1 = df_1.drop('SalePriceUnit', axis = 1)

df_1['SalePrice'] = df_1['SalePrice'] / 1000000

# for those already in millions, just pull out sale price. 
df_2 = df[df['SalePriceUnit'] == '$M']
df_2 = df_2.drop('SalePriceUnit', axis = 1 )

In [53]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_2])

In [54]:
# Resort the new DataFrame
df.sort_index(inplace = True)

In [55]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,0.7100,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.1500,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.6000,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.5000,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,0.9700,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,0.9400,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,0.8350,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.8300,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.0500,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.1900,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,0.8000,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,0.9760,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,0.7200,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.2500,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.2900,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.9000,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.6000,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,0.9080,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.2100,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.7000,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.2800,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,0.8750,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,0.3000,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,0.4250,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.9500,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,0.7750,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,0.7050,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,0.6950,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.4100,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.6800,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.5500,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,0.5100,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.4500,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,0.9700,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.3000,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.7000,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,0.7850,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.1500,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.1400,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.2500,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.1500,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,0.8350,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,0.8900,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.4000,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,0.7500,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.9000,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.8000,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,0.0058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.2400,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.7300,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.4000,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,0.7575,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.4300,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,0.6750,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.7500,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,0.3900,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,0.8600,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,0.8300,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,0.8350,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,0.8250,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [65]:
# TODO

In [66]:
df.IsAStudio = df.IsAStudio.map({True: 1, False:0})

> ### `Size`

In [67]:
df.SizeUnit.unique()

AttributeError: 'DataFrame' object has no attribute 'SizeUnit'

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [64]:
df.drop('SizeUnit', axis = 1, inplace = True)

ValueError: labels ['SizeUnit'] not contained in axis

> ### `LotSize`: scale all values to square feet

In [70]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [73]:
df.head()

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,0.71,0.0,1.0,NaN,550.0,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,0.0,NaN,2.0,1430.0,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,0.0,2.0,3.5,2040.0,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,0.0,1.0,1.0,1060.0,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,0.97,0.0,2.0,2.0,1299.0,NaN,NaN,1993.0

In [72]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,0.7100,0.0,1.0,NaN,550.0,NaN,1980.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.5000,0.0,1.0,1.0,1060.0,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,0.9700,0.0,2.0,2.0,1299.0,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,0.9400,0.0,2.0,2.0,1033.0,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,0.8350,0.0,1.0,1.0,1048.0,NaN,1975.0
15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.1900,0.0,2.0,3.0,1182.0,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,0.8000,0.0,1.0,1.0,1000.0,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,0.9760,0.0,1.0,1.0,1000.0,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,0.7200,0.0,1.0,1.0,552.0,NaN,1937.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.2900,0.0,2.0,2.0,1165.0,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.9000,0.0,2.0,2.0,1465.0,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.6000,0.0,3.0,2.5,2017.0,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,0.9080,0.0,2.0,1.0,956.0,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.2100,0.0,2.0,1.0,1003.0,NaN,1930.0
15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.2800,0.0,1.0,1.0,986.0,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,0.8750,0.0,1.0,1.0,825.0,NaN,1973.0
15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,0.4250,1.0,NaN,2.0,989.0,NaN,1910.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,0.7750,0.0,NaN,2.0,710.0,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,0.7050,0.0,2.0,2.0,744.0,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,0.6950,0.0,1.0,1.0,541.0,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.4100,0.0,1.0,1.0,1250.0,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.6800,0.0,1.0,1.0,1115.0,NaN,1929.0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",37792930,-122412195,12/3/15,3.8000,0.0,2.0,2.0,1961.0,NaN,1963.0
15068514,"1177 California St APT 702, San Francisco, CA",37791089,-122413658,12/18/15,0.6650,0.0,1.0,1.0,511.0,NaN,1978.0
15068551,"1177 California St APT 501, San Francisco, CA",37791089,-122413658,12/15/15,0.9000,0.0,1.0,1.0,884.0,NaN,1978.0
15068580,"1177 California St APT 423, San Francisco, CA",37791089,-122413658,12/29/15,0.7380,1.0,NaN,1.0,706.0,NaN,1978.0
15068592,"1177 California St APT 304, San Francisco, CA",37791089,-122413658,12/1/15,0.7900,0.0,1.0,1.0,645.0,NaN,1977.0
15068857,"1001 Pine St APT 608, San Francisco, CA",37790348,-122412568,12/7/15,0.5350,1.0,NaN,1.0,450.0,NaN,1964.0
15068874,"1001 Pine St APT 801, San Francisco, CA",37790348,-122412568,12/24/15,0.6500,0.0,NaN,1.0,650.0,NaN,1963.0
15069276,"795 Sutter St # 303, San Francisco, CA",37788404,-122413260,11/15/15,1.2000,0.0,3.0,2.0,1753.0,NaN,1913.0
...,...,...,...,...,...,...,...,...,...,...,...
2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,1.2300,0.0,3.0,1.0,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,1.6000,NaN,NaN,NaN,NaN,NaN,1900.0
2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,2.8000,0.0,NaN,NaN,4035.0,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,1.0700,0.0,2.0,1.0,1018.0,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,0.9150,0.0,1.0,1.0,700.0,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.5500,0.0,4.0,2.5,1632.0,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,0.5100,0.0,1.0,1.0,400.0,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.4500,0.0,4.0,3.0,2301.0,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,0.9700,0.0,3.0,1.0,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.3000,0.0,3.0,1.0,1496.0,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.7000,0.0,9.0,3.0,4005.0,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,0.7850,0.0,1.0,1.0,625.0,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.1500,0.0,3.0,1.0,1912.0,NaN,1941.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.2500,0.0,2.0,2.0,1108.0,NaN,1951.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,0.8350,0.0,1.0,1.0,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,0.8900,0.0,2.0,2.0,1424.0,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.4000,0.0,1.0,1.0,950.0,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,0.7500,0.0,2.0,1.0,NaN,NaN,NaN
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.8000,0.0,3.0,2.0,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,0.0058,NaN,NaN,NaN,NaN,NaN,NaN
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.7300,0.0,2.0,2.5,1500.0,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.4000,0.0,2.0,2.0,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,0.7575,0.0,1.0,1.0,658.0,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.4300,0.0,NaN,NaN,6600.0,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,0.6750,0.0,1.0,1.0,557.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.7500,1.0,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,0.3900,1.0,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,0.8600,0.0,1.0,1.0,691.0,NaN,2004.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,0.8350,0.0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,0.8250,0.0,1.0,1.0,900.0,NaN,1966.0

> Group #2: the `sqft` values:

In [91]:
# TODO (use df_sqft)
df_sqft = df[df['LotSizeUnit'] == 'sqft']

df_sqft = df_sqft.drop('LotSizeUnit', axis = 1)

df_sqft

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.1500,0.0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.6000,0.0,2.0,3.5,2040.0,3920.0,1976.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.8300,0.0,3.0,2.0,2115.0,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.0500,1.0,NaN,NaN,4102.0,3049.0,1948.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.2500,0.0,NaN,4.0,2658.0,1600.0,1906.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.7000,0.0,2.0,2.0,1467.0,3023.0,1922.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,0.3000,0.0,NaN,2.0,2344.0,1376.0,1913.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.9500,0.0,NaN,4.0,4362.0,1459.0,1908.0
15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,2.4900,0.0,NaN,4.0,4605.0,1376.0,1909.0
15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,3.8000,0.0,3.0,NaN,3905.0,2748.0,1939.0
15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,2.5500,0.0,3.0,1.5,1675.0,2613.0,1925.0
15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,3.0800,0.0,3.0,3.0,2599.0,3005.0,1925.0
15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,3.3300,0.0,NaN,2.0,2864.0,2286.0,1925.0
15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,3.0200,0.0,3.0,3.0,2100.0,2495.0,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,9.7100,0.0,5.0,6.0,4650.0,4726.0,1953.0
15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,2.5000,0.0,3.0,3.5,2255.0,2500.0,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,1.3800,0.0,NaN,3.0,3260.0,3000.0,1920.0
15071199,"2374-2376 Greenwich St, San Francisco, CA",37798820,-122438743,11/23/15,6.0000,0.0,4.0,5.0,4178.0,2495.0,1938.0
15072504,"2660 Scott St, San Francisco, CA",37794473,-122439703,12/8/15,13.1000,0.0,7.0,8.0,9190.0,5623.0,1908.0
15072510,"2535 Vallejo St, San Francisco, CA",37794444,-122438979,11/23/15,5.6000,0.0,NaN,4.0,4065.0,3781.0,1908.0
15074558,"2684-2686 Sacramento St, San Francisco, CA",37789686,-122437098,12/8/15,2.7100,0.0,NaN,NaN,2840.0,2674.0,1900.0
15074647,"2619-2621 Sacramento St, San Francisco, CA",37789373,-122436057,12/3/15,2.9000,0.0,7.0,5.0,2930.0,2038.0,1900.0
15075139,"2215 California St, San Francisco, CA",37788944,-122431099,12/11/15,5.0500,0.0,5.0,6.0,3485.0,3454.0,1900.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.5300,0.0,6.0,7.5,7375.0,2748.0,1890.0
15078434,"412-414 Linden St, San Francisco, CA",37776282,-122424850,12/16/15,0.8350,0.0,4.0,2.0,2200.0,1297.0,1909.0
15078460,"622-626 Buchanan St, San Francisco, CA",37775745,-122427543,11/12/15,1.2500,0.0,NaN,NaN,2785.0,1637.0,1900.0
15078815,"545-547 Oak St, San Francisco, CA",37774030,-122428306,12/23/15,1.7700,0.0,5.0,3.0,2610.0,3297.0,1900.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,0.3750,0.0,NaN,2.0,2430.0,3781.0,1890.0
15078953,"789-793 Page St, San Francisco, CA",37772439,-122433608,11/25/15,1.7000,0.0,6.0,3.0,3825.0,2247.0,1911.0
15079269,"591-595 Waller St, San Francisco, CA",37770560,-122433330,12/2/15,1.2300,0.0,NaN,7.0,7240.0,2696.0,1900.0
...,...,...,...,...,...,...,...,...,...,...,...
15200392,"288 Bemis St, San Francisco, CA",37736136,-122432406,11/16/15,1.4500,0.0,2.0,2.0,1263.0,2613.0,1908.0
15200453,"5553 Diamond Heights Blvd, San Francisco, CA",37738774,-122436320,11/18/15,1.2200,0.0,3.0,2.5,1890.0,2622.0,1969.0
15200513,"155 Arbor St, San Francisco, CA",37736967,-122437193,12/15/15,1.0800,0.0,3.0,1.0,1550.0,2400.0,1937.0
19333808,"San Carlos St, Carmel, CA",37762245,-122420046,11/25/15,0.9950,0.0,2.0,1.0,847.0,4000.0,1958.0
35972021,"1101 Pacific Ave, San Francisco, CA",37795912,-122413603,12/29/15,1.0000,0.0,3.0,2.0,1458.0,4783.0,2000.0
53734143,"2013 Buchanan St, San Francisco, CA",37788841,-122430713,12/4/15,1.9900,0.0,3.0,2.0,2100.0,2328.0,1999.0
53734310,"313 2nd Ave APT 6, San Francisco, CA",37782643,-122460428,11/19/15,0.7750,0.0,2.0,1.0,896.0,3049.0,1965.0
59700133,"557 Birch St, San Francisco, CA",37777827,-122425790,12/17/15,1.5700,0.0,3.0,3.0,1635.0,1500.0,2001.0
63196937,"1265 Masonic Ave # C, San Francisco, CA",37769369,-122445536,11/30/15,1.4100,0.0,2.0,2.0,1596.0,3453.0,1904.0
64971857,"1436 Vallejo St, San Francisco, CA",37797200,-122421035,12/18/15,1.2100,0.0,NaN,5.0,4554.0,1920.0,1925.0
69817329,"955 Excelsior Ave, San Francisco, CA",37722655,-122425573,11/13/15,1.1500,0.0,4.0,4.0,2134.0,2495.0,2005.0
80741391,"340 6th St UNIT 303, San Francisco, CA",37777801,-122405227,12/31/15,0.0057,0.0,NaN,NaN,2176.0,4500.0,1997.0
89237920,"122 Maynard St, San Francisco, CA",37729094,-122427690,12/22/15,0.0105,0.0,5.0,5.0,2700.0,2750.0,2009.0
96048518,"16 Orizaba Ave, San Francisco, CA",37709894,-122462280,12/9/15,1.3000,0.0,6.0,6.0,4136.0,2613.0,2010.0
124426156,"2175 Quesada Ave #V, San Francisco, CA",37738178,-122400512,12/17/15,0.2200,NaN,NaN,NaN,NaN,2495.0,1900.0
124852113,"501 Noriega St # V, San Francisco, CA",37754997,-122469024,11/10/15,0.8250,NaN,NaN,NaN,NaN,3201.0,1900.0
124852223,"534 Leland Ave #V, San Francisco, CA",37714721,-122414497,11/12/15,0.2880,NaN,NaN,NaN,NaN,2495.0,1900.0
124857832,"298 Bemis St # V, San Francisco, CA",37736217,-122432525,11/16/15,1.4500,NaN,NaN,NaN,NaN,2031.0,1900.0
125089501,"150 Grand View Ave, San Francisco, CA",37755622,-122440528,12/14/15,0.0005,NaN,NaN,NaN,NaN,44.0,1900.0
125090873,"1379 29TH Ave #V, San Francisco, CA",37761696,-122487791,12/17/15,1.1800,NaN,NaN,NaN,NaN,188.0,NaN
125115962,"1027 Clayton St # V, San Francisco, CA",37763458,-122447425,12/22/15,1.2100,NaN,NaN,NaN,NaN,2247.0,1900.0
125156575,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/30/15,1.8000,0.0,NaN,1.0,2200.0,4316.0,1910.0
2099976986,"639 35th Ave, San Francisco, CA",37776897,-122495582,1/21/16,2.1900,0.0,9.0,6.0,2790.0,3005.0,1900.0
2100695464,"532 Lyon St, San Francisco, CA",37775802,-122442710,11/24/15,4.5000,0.0,5.0,5.0,NaN,3044.0,1904.0
2100850402,"1915 Diamond St, San Francisco, CA",37742141,-122435111,12/29/15,1.8000,0.0,4.0,3.0,2400.0,4356.0,1910.0
2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.1400,1.0,NaN,NaN,1776.0,3746.0,1905.0
2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.1500,1.0,NaN,NaN,3500.0,2495.0,1908.0
2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.9000,1.0,NaN,NaN,NaN,2038.0,1900.0
2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.2400,0.0,3.0,3.0,2414.0,1306.0,1943.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,0.8300,0.0,3.0,3.0,1738.0,2299.0,1976.0

> Group #3: the `ac` values:

In [110]:
# TODO (use df_ac)

df_ac = df[df['LotSizeUnit'] == 'ac']
df_ac
df_ac['LotSize'] =  df_ac['LotSize'] * 43560
df_ac  = df_ac.drop('LotSizeUnit', axis = 1)
df_ac

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,,,
15080894,"2950 Pacific Ave, San Francisco, CA",37792769,-122444342,11/25/15,16.000,0.0,7.0,6.5,11500.0,12196.8,1907.0
15089098,"22 22nd Ave, San Francisco, CA",37786828,-122481673,11/17/15,4.970,0.0,5.0,5.0,5610.0,13939.2,1926.0
79844263,"555 4th St, San Francisco, CA",37779422,-122396712,11/16/15,0.788,0.0,1.0,1.0,670.0,43560.0,2006.0
124865970,"255 Woodside Ave, San Francisco, CA",37746208,-122454769,11/16/15,24.900,NaN,NaN,NaN,NaN,47916.0,1900.0

In [111]:
df_new = pd.concat([df_ac, df_sqft, df_na])
df_new

,Address,Latitude,Longitude,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,,,
15080894,"2950 Pacific Ave, San Francisco, CA",37792769,-122444342,11/25/15,16.0000,0.0,7.0,6.5,11500.0,12196.8,1907.0
15089098,"22 22nd Ave, San Francisco, CA",37786828,-122481673,11/17/15,4.9700,0.0,5.0,5.0,5610.0,13939.2,1926.0
79844263,"555 4th St, San Francisco, CA",37779422,-122396712,11/16/15,0.7880,0.0,1.0,1.0,670.0,43560.0,2006.0
124865970,"255 Woodside Ave, San Francisco, CA",37746208,-122454769,11/16/15,24.9000,NaN,NaN,NaN,NaN,47916.0,1900.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.1500,0.0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.6000,0.0,2.0,3.5,2040.0,3920.0,1976.0
15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.8300,0.0,3.0,2.0,2115.0,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.0500,1.0,NaN,NaN,4102.0,3049.0,1948.0
15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.2500,0.0,NaN,4.0,2658.0,1600.0,1906.0
15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.7000,0.0,2.0,2.0,1467.0,3023.0,1922.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,0.3000,0.0,NaN,2.0,2344.0,1376.0,1913.0
15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.9500,0.0,NaN,4.0,4362.0,1459.0,1908.0
15068767,"767-771 Pine St, San Francisco, CA",37790971,-122408473,12/31/15,2.4900,0.0,NaN,4.0,4605.0,1376.0,1909.0
15069628,"47-49 Casa Way, San Francisco, CA",37805371,-122439029,11/25/15,3.8000,0.0,3.0,NaN,3905.0,2748.0,1939.0
15069883,"59 Rico Way, San Francisco, CA",37804909,-122439650,12/21/15,2.5500,0.0,3.0,1.5,1675.0,2613.0,1925.0
15070227,"134 Alhambra St, San Francisco, CA",37802318,-122438801,1/18/16,3.0800,0.0,3.0,3.0,2599.0,3005.0,1925.0
15070235,"180 Alhambra St, San Francisco, CA",37801939,-122439299,12/7/15,3.3300,0.0,NaN,2.0,2864.0,2286.0,1925.0
15070255,"146 Avila St, San Francisco, CA",37801998,-122440411,12/23/15,3.0200,0.0,3.0,3.0,2100.0,2495.0,1924.0
15070544,"1051-1053 Francisco St, San Francisco, CA",37803239,-122422458,12/1/15,9.7100,0.0,5.0,6.0,4650.0,4726.0,1953.0
15070728,"3315 Pierce St, San Francisco, CA",37800650,-122439786,1/6/16,2.5000,0.0,3.0,3.5,2255.0,2500.0,1925.0
15070807,"1763-1765 Chestnut St, San Francisco, CA",37801061,-122432273,12/1/15,1.3800,0.0,NaN,3.0,3260.0,3000.0,1920.0
15071199,"2374-2376 Greenwich St, San Francisco, CA",37798820,-122438743,11/23/15,6.0000,0.0,4.0,5.0,4178.0,2495.0,1938.0
15072504,"2660 Scott St, San Francisco, CA",37794473,-122439703,12/8/15,13.1000,0.0,7.0,8.0,9190.0,5623.0,1908.0
15072510,"2535 Vallejo St, San Francisco, CA",37794444,-122438979,11/23/15,5.6000,0.0,NaN,4.0,4065.0,3781.0,1908.0
15074558,"2684-2686 Sacramento St, San Francisco, CA",37789686,-122437098,12/8/15,2.7100,0.0,NaN,NaN,2840.0,2674.0,1900.0
15074647,"2619-2621 Sacramento St, San Francisco, CA",37789373,-122436057,12/3/15,2.9000,0.0,7.0,5.0,2930.0,2038.0,1900.0
15075139,"2215 California St, San Francisco, CA",37788944,-122431099,12/11/15,5.0500,0.0,5.0,6.0,3485.0,3454.0,1900.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.5300,0.0,6.0,7.5,7375.0,2748.0,1890.0
15078434,"412-414 Linden St, San Francisco, CA",37776282,-122424850,12/16/15,0.8350,0.0,4.0,2.0,2200.0,1297.0,1909.0
15078460,"622-626 Buchanan St, San Francisco, CA",37775745,-122427543,11/12/15,1.2500,0.0,NaN,NaN,2785.0,1637.0,1900.0
...,...,...,...,...,...,...,...,...,...,...,...
2100831589,"181 Noe St, San Francisco, CA",37766201,-122433226,11/22/15,1.2300,0.0,3.0,1.0,NaN,NaN,NaN
2100835351,"1676 Newcomb Ave, San Francisco, CA",37736278,-122391098,12/8/15,1.6000,NaN,NaN,NaN,NaN,NaN,1900.0
2100861826,"1606 Jones St, San Francisco, CA",37796169,-122414825,12/11/15,2.8000,0.0,NaN,NaN,4035.0,NaN,1907.0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",37804840,-122442970,2/4/16,1.0700,0.0,2.0,1.0,1018.0,NaN,1934.0
2100902229,"2299 Market St APT 502, San Francisco, CA",37764100,-122433000,12/3/15,0.9150,0.0,1.0,1.0,700.0,NaN,2013.0
2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.5500,0.0,4.0,2.5,1632.0,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,0.5100,0.0,1.0,1.0,400.0,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.4500,0.0,4.0,3.0,2301.0,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,0.9700,0.0,3.0,1.0,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.3000,0.0,3.0,1.0,1496.0,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.7000,0.0,9.0,3.0,4005.0,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,0.7850,0.0,1.0,1.0,625.0,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.1500,0.0,3.0,1.0,1912.0,NaN,1941.0
2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.2500,0.0,2.0,2.0,1108.0,NaN,1951.0
2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,0.8350,0.0,1.0,1.0,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,0.8900,0.0,2.0,2.0,1424.0,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.4000,0.0,1.0,1.0,950.0,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,0.7500,0.0,2.0,1.0,NaN,NaN,NaN
2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.8000,0.0,3.0,2.0,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,0.0058,NaN,NaN,NaN,NaN,NaN,NaN
2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.7300,0.0,2.0,2.5,1500.0,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.4000,0.0,2.0,2.0,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,0.7575,0.0,1.0,1.0,658.0,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.4300,0.0,NaN,NaN,6600.0,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,0.6750,0.0,1.0,1.0,557.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.7500,1.0,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,0.3900,1.0,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,0.8600,0.0,1.0,1.0,691.0,NaN,2004.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,0.8350,0.0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,0.8250,0.0,1.0,1.0,900.0,NaN,1966.0

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'), index_label = 'ID')

## Part C - More advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bedrooms?

In [5]:
df = pd.read_csv()

TypeError: parser_f() takes at least 1 argument (0 given)

In [11]:
df[ ['Beds', 'SalePrice'] ].groupby('Beds').mean()

          SalePrice
Beds
1.0   607889.536479
2.0   301386.004937
3.0   203395.448717
4.0   162923.997961
5.0   163794.382500
6.0    72780.292222
7.0    43172.333333
8.0        1.960000
9.0        1.766667

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [ ]:
df.DateOfSale

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [ ]:
pd.to_datetime(df.DateOfSale)

In [ ]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [ ]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df